name: deploy blog 
on:
   push:    
   pull_request:
   
    types: [opened, synchronize, edited, reopened]
    
jobs:

  deploy-blog_use-yarn:

    runs-on: ubuntu-latest
    
    steps:

      - uses: actions/checkout@v5

      - name: Setup environment
      
        uses: actions/setup-node@v6

        with:

         node-version: 20
         cache: yarn
      
      - name: Install Hexo
        run: |
      
          yarn global add hexo hexo-cli
      - name: Build blog
        run: |
          yarn install
          hexo cl && hexo g
